*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	
}

/* estilo do menu */
	nav{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 15px;
		padding-left: 8%;
		padding-right: 8%;
		padding-bottom: 15px;
		height: 90px;
		background-color:#454496;
		background-size: cover;
	}


	.logo{
		color: white;
		font-size: 30px;
		letter-spacing: 1px;
		cursor: pointer;
	}
	span{
		color: #c3c9ff;
	}

	nav ul li{
		list-style-type: none;
		display: inline-block;
		padding: 10px  25px;
	}
	nav ul li a{
		color: white;
		text-decoration: none;
		font-weight: bold;
		text-transform: capitalize;
	}
	a:hover{
		color: #c3c9ff;
		transition: .4s;
	}

	/* PARTE INTERATIVA DO MENU */
		.dropdown {
			min-width: 100%;
			background: #454496;
			display: none;
			position: absolute;
			z-index: 2000;
			left: 0;
		}

		li:hover .dropdown {
			display: block;

		}

		ul li {
			display: block;
			position: relative;
			line-height: 21px;

			text-align: left;
		}
	/* FIM DA PARTE INTERATIVA DO MENU */

/* fim do menu */
body{
	background-color: #c3c9ff;
	
}
.box{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
	min-height: 550px;
	position: relative;
	background-color: #c3c9ff;
}
.card{
	width: 85%;
	height: 75vh;
	padding: 35px;
	background: #454496;
	border-radius: 20px;
	position: relative;
	text-align: center;
}
h5{
	display: flex;
	justify-content: center;
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}

/* estilo da tabela*/

table#customers {
    font-size:16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}


#customers tr:nth-child(even){background-color:#cbc9e7d8}

#customers th {
    padding-top: 11px;
    padding-bottom: 11px;
    color: white;
}
.data{
	width:200px;
}

tbody{
    background-color: #6048a3;
}
.data{
	width:50px;
}

/* paginação */ 

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 2vh;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
	background-color:#bdb5db
}

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 5px;
}

ul.pagination li a.active {
    background-color: #a284f5;
    color: white;
    border: 1px solid #ffffff;
	border-radius: 4px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

